/* Globa fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* global css for icon */
.__svg-icon {
  display: inline-block !important;
}

.__slot-wrapper {
  display: inherit !important;
}

.__sidebar-item-icon {
  display: inherit !important;
}

.__marker {
  width: 42px !important;
}

.__slot-wrapper {
  display: inherit!important;
}

/* forcing leaflet to center popup */
.leaflet-popup {
  left: -40px !important;
}

@media (max-width: 640px) {
  .leaflet-bottom.leaflet-right,
  .leaflet-top.leaflet-left {
    z-index: 998 !important;
  }
}
